@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root,
:root.light {
  --bg-color: rgb(249, 250, 251);
  --primary-color: #000;
  --secondary-color: rgb(51 51 51);
  --link-color: #0da2b8;
  --border-color: rgb(218, 218, 218);
}

:root.dark {
  --bg-color: #131415;
  --primary-color: #fff;
  --secondary-color: #adb0b1;
  --link-color: rgb(30, 190, 214);
  --border-color: #2b3031;
}

* {
  font-family: 'Readex Pro';
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--primary-color);
}

body {
  background-color: var(--bg-color);
}

p,
span,
li {
  color: var(--secondary-color);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 700px;
  margin: 0 auto;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#user-name {
  font-size: 3em;
  line-height: 1em;
}

#bio,
a {
  font-weight: 300;
}

#profile-pic {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#email {
  color: var(--primary-color);
}

#socials--list {
  display: flex;
  /* justify-content: space-start; if you have less socials */
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-size: 0.9em;
  color: var(--secondary-color);
  transition: 0.3s;
}

#socials--list a:hover {
  color: var(--link-color);
}

#qualifications--list {
  list-style: none;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--border-color);
  padding: 0.5em 1em;
  border-radius: 5px;
  align-items: center;
}

.card--work-history {
  border-left: 1px solid var(--border-color);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--border-color);
  height: 1px;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--border-color);
}

.card--project a {
  color: var(--primary-color);

  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.theme-btn {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

.dark .theme-btn.dark {
  display: none;
}

.theme-icon {
  font-size: 20px;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    gap: 1em;
    flex-direction: column;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
